@model Shebenka.Models.ViewModels.Account.LoginUserVM

@{
    ViewBag.Title = "Вход";
}




@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<section >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5" style="font-family: 'Montserrat', sans-serif; margin-bottom: 2.5rem !important;">Вход</h3>
                        @if (TempData["SM"] != null)
                            {
                        <div class="alert alert-success">
                            @TempData["SM"]
                        </div>
                            }
                        <div class="form-outline mb-4">

                            <center>
                                @Html.EditorFor(model => model.EmailAdress, new { htmlAttributes = new { @class = "form-control", placeholder="Email" } })
                            </center>
                          
                            <center>
                                @Html.ValidationMessageFor(model => model.EmailAdress, "", new { @class = "text-danger" })
                            </center>
                        </div>

                        <div class="form-outline mb-4">
                            <center>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder="Пароль" })
                            </center>

                            <center>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </center>
                        </div>

                        <div class="form-check d-flex justify-content-start mb-4" style="justify-content:center !important">

                            @Html.EditorFor(model => model.RememberMe, new { htmlAttributes = new { @class = "form-check-input" } })
                            <label style="font-family: 'Montserrat', sans-serif; margin-left:10px" class="form-check-label" for="form1Example3" > Запомни меня </label>

                        </div>
                        <button class="btn-type1" type="submit">Авторизоваться</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}
